.nav-calificaciones{
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}
.nav-calificaciones__enlace{
    background-color:#E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 8rem; 
    padding:1rem 2rem;
    
    border-radius: 0.5rem;
    text-decoration: none;
}
.nav-calificaciones__titulo{
    margin: 0;
    color: var(--gris-obscuro); 
    font-weight: 600;
    font-size: 1.8rem;
}

.nav-calificaciones__detalle{
    margin: 0;
    color: var(--gris-claro);
    font-weight: 600;
    font-size: 1.4rem;

}

@media all and (max-width:340px){
    .nav-calificaciones__enlace{
    padding:1rem 2rem;
    margin:1rem 1rem;
    border-radius: 0.5rem;
    }
    .nav-calificaciones{
        gap: 1.2rem;

    }
}